* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.sidebar
{
  background-color: #1D3E69;
  color: #AFD2FF;
  text-align: center;

  h1 {
    color: #ffffff;
    font-weight: 500;
  }
}

menu
{
  margin-top: 0;
  text-align: center;
  padding: 0;
  ul {
    white-space: normal;
  }
  a {
    transition: all 0.5s;
  }
}

.social-links
{
  ul {
    padding: 0;
  }

  .pure-menu-link {
    font-size: 0.9em;
    transition: all 0.5s;
    &, &:focus {
      color: #AFD2FF;
      background-color: transparent;
    }

    &:hover,
    &:active {
      color: #ffffff;
      background-color: transparent;
    }
  }
}

main {
  max-width: 800px;
}

main a {
  color: #1B64C2;
  text-decoration: none;
  transition: all 0.5s;

  &:hover,
  &:focus {
    color: #1bb6c1;
  }
}

.content-container {
  padding: 0.3em 2em 2em 2em;

  > .content {
    max-width: 800px;
  }
}

.locales {
  position: absolute;
  top: 0;
  right: 0;

  .pure-menu-item {
    .pure-menu-link {
      color: #ffffff;
      &:hover {
        background-color: #AFD2FF;
      }
    }
  }

  .pure-menu-selected .pure-menu-link {
    font-weight: 600;
  }
}

@media (min-width: 48em) {
  menu {
    text-align: left;
  }

  .content-container {
    padding: 0 3em 0;
    margin-left: 25%;
    position: relative;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    header {
      margin: 80% 2em 0 2px;
      text-align: right;
    }
  }

  .content-container menu {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    position: relative;
    padding-left: 0;
    margin-left: 0;
  }

  .social-links ul {
    white-space: normal
  }

  .locales {
    .pure-menu-item .pure-menu-link {
      color: #777;
      &:hover {
        background-color: #eee;
      }
    }
    .pure-menu-selected .pure-menu-link {
      color: #000000;
      font-weight: initial;
    }
  }
}

@media (max-width: 32em) {
  .sidebar {
    padding-top: 2em;
  }
}
