%section.cf
  %header
    %h2.project-title= model.title
  %article
    - if model.cover.present?
      = image_tag(model.cover_thumb_url('500x'), class: 'pure-img', alt: '')
    .content
      - if model.url.present?
        %p.link
          %strong= I18n.t("Url:", scope: 'projects')
          = link_to(url_host, model.url, target: :_blank)
      %p.period
        %strong= I18n.t("Period: ", scope: 'projects')
        = year_month(model.since_date)
        &mdash;
        = year_month(model.till_date)
      = linked_description_html
