/*
 *= require pure
 *= require pure/grids-responsive
 *= require_self
 *= require_tree ./public
 */

.cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}



.page-under-construction {
    text-align: center;

    h2.content-subhead {
        color: #dd0000;
    }

    img {
        margin: 0 auto;
    }
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
b, strong {
  font-weight: 500;
}
