!!!
-  base_cache_key = "#{Releaf::I18nDatabase::Backend.translations_updated_at}-#{Node.updated_at}-#{I18n.locale}-#{@node.try!(:id)}-v6"
%html
  %head
    - cache("#{base_cache_key}-head-meta") do
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
      %meta{:content => I18n.t('description', scope: site_content_scope), :name => "description"}/
      %title
        - if @node.present?
          Aldis Berjoza - #{@node.name}
        - else
          = site_content_scope

      - unless Rails.env.production?
        %meta(name="robots" content="noindex")/
      -# - if Rails.application.secrets.google_site_verification.present?
        %meta{:content =>  Rails.application.secrets.google_site_verification, :name => "google-site-verification"}/
      - Node.roots.visible.each do |node|
        %link{:rel => "alternate", :href => node.path, :hreflang => node.locale}/
      %link{:rel => 'icon', :type => 'image/png', :href => '/favicon.png'}/


      = stylesheet_link_tag  'application', media: 'all'
      = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,500,600&subset=latin,latin-ext', media: 'all'
      = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/#{FontAwesome::Rails::FA_VERSION}/css/font-awesome.min.css"
      = javascript_include_tag 'turbolinks', async: true
      -# = render 'shared/woopra' if Rails.env.production?
    = csrf_meta_tags
  %body{class: "#{normalized_controller_name}-controller #{normalized_view_name}-view #{I18n.locale}-locale"}
    - cache("#{base_cache_key}-body-tracking") do
      -# = render 'shared/woopra_track' if Rails.env.production?
      -# - if Rails.application.secrets.google_analytics_id.present?
        = render 'shared/google_analytics', id: Rails.application.secrets.google_analytics_id

    #layout.pure-g

      .sidebar.pure-u-1.pure-u-md-1-4
        %header
          %h1.brand-title Aldis Berjoza
          %h2.brand-tagline= t("Ruby on Rails developer", scope: 'common')
          .social-links.pure-menu.pure-menu-horizontal
            %ul
              - SocialLink.all.each do |social|
                %li.pure-menu-item
                  %a.pure-menu-link{:href => social.url, title: social.title, target: :_blank}
                    = fa_icon "#{social.icon_name} 2x"

      .content-container.pure-u-1.pure-u-md-3-4
        .content
          - cache("menu-#{params[:node_id]}-#{base_cache_key}") do
            %menu.pure-menu.pure-menu-horizontal
              %ul.pure-menu-list
                - @root_node.descendants.visible.each do |node|
                  %li.pure-menu-item{class: node.id == params[:node_id].to_i ? 'pure-menu-selected' : nil}
                    %a.pure-menu-link{href: node.path}= node.name
              - cache("localization-menu-#{base_cache_key}") do
                %ul.pure-menu-list.locales
                  - Node.roots.visible.each do |node|
                    %li.pure-menu-item{class: node.locale == I18n.locale.to_s ? 'pure-menu-selected' : nil}
                      %a.pure-menu-link{href: node.path}= node.name
          %main
            = yield

